# Git
.git
.gitignore

# Build outputs
**/bin/
**/obj/
**/dist/

# Node modules
**/node_modules/

# VS / IDE
.vs/
.vscode/
*.user
*.suo

# Logs
**/*.log

# Local secrets / overrides
**/appsettings.Development.json
**/secrets.json
